/**
 * We all need some bootstrap sometimes
 * @author Yuriy Arutyunyan <sagittaracc@gmail.com>
 */

/* Text */
.text-decoration-none {
    text-decoration: none;
}

.text-left {
    text-align: left;
}

/* Vertical align */
.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

/* Float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Grid system */
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0%;
}

.w-100 {
    width: 100%!important;
}